#register_form
{
    margin: auto;
    margin-top: 3%;;
    width: 60%;
    height: 87%;;
    /* background-color: #bf1747; */
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px 3px rgb(191, 179, 179);
    align-items: center;
}
.header img{
    /* margin-left: 10px; */
    height:200px;
    width:100%;
    align-items: center;
}

h2{
    background-color: #bf1747;
    height: 45px;;
    font-weight: bold;
    color: white;
    text-shadow:3px 3px 3px #3a0e1a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    box-shadow: 3px 3px 3px 3px grey;
}
#form{
    margin-left:15%;
}
#register_button {
    margin-left: 190px;
    background-color: #bf1747;
    color: white;
    font-weight: bold;
    text-shadow:3px 3px 3px rgb(100, 21, 21);
    margin-bottom: 10px;
  }
  a{
    margin-left: 155px;
    margin-top: 20%;
    font-weight: bold;
  }
  a:hover{
    color: #bf1747;
  }
  #title{
    margin-top: 2px;;
  }
  #errors{
    color: red;
    font-size: bold;
    text-align: center;
  }
  #heading{
    background-color: #c43960;      
    color:white;  
    text-shadow:3px 3px 3px #3a0e1a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
#login_form
{
    margin: auto;
    /* margin-top: 3%;; */
    width: 60%; 
    height: 86%;;
    /* background-color: #bf1747; */
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px 3px rgb(191, 179, 179);
    align-items: center;
}
.header img{
    /* margin-left: 10px; */
    height:180px;
    width:100%;
    align-items: center;
}

h2{
    background-color: #bf1747;
    height: 45px;;
    font-weight: bold;
    color: white;
    text-shadow:3px 3px 3px #3a0e1a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    box-shadow: 3px 3px 3px 3px grey;
}
#form_login{
    margin-left:15%;
}
#login_button {
    margin-left: 200px;
    background-color: #bf1747;
    color: white;
    font-weight: bold;
    text-shadow:3px 3px 3px rgb(100, 21, 21);
    margin-bottom: 10px;
  }
  #register_link{
    margin-left: 27px;
    margin-top: 20%;
    font-weight: bold;
    font-style: underline;
    color: blue;

  }
  #register_link:hover{
    margin-left: 27px;
    margin-top: 20%;
    font-weight: bold;
    font-style: underline;
    cursor: pointer;
    color: #bf1747;
  }
  #link{
    margin-left: 25%;
    margin-top: 20%;
    font-weight: bold;
    font-style: underline;
    color: blue;
  }
  #link:hover{
    font-weight: bold;
    font-style: underline;
    cursor: pointer;
    color: #bf1747;
  }
  #title{
    margin-top: 2px;;
  }
  