
body{
    margin:0px;
    /* background-color: blueviolet; */
    background-color:black;
}

#header,#footer{
    background-color: rgb(163, 244, 126);
    color:black;
    /* height:60px;  */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;  
}
#title{
    border:2px solid black;
    width:150px;
    margin:10px;
    padding:10px;
    margin-left: 70px;
    font-size:20px;
    font-weight: bold;
    /* text-shadow:5px 5px 5px rgb(93, 10, 103); */
    text-shadow:5px 5px 5px rgb(35, 31, 35);
    border-radius: 10px;
    text-align: center;
    float:left;
    transition: color 1s ease;
    transition: background 1s ease;
}
#title:hover{
    background: black; 
    color: #ffffff; 
    text-shadow:5px 5px 5px whitesmoke;
}
#menu{
    float:left;
}
#menu li{
    float:left;
    margin-left:30px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    cursor: pointer;
}
#menu li:hover{
    border: 2px solid black;
    float:left;
    margin-left:30px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    /* background-color: rgb(12, 95, 73); */
    background-color:black;
    color:white;
    border-radius: 5px;
    padding: 5px;
    text-shadow: 5px 5px 5px black;
}
#slide-area{
    height:300px;
    background-color:rgb(108, 132, 119);;
}
#slide-area #slide-show{
    height: 100%;
    margin-left: 10%;
    width: 80%;
    background-color: rgb(108, 132, 119);
    position:relative;

}
#slide-area #slide-show #img1{
    height: 100%;
    width: 100%;
}
.icon{
    width: 45px;
    height: 45px;
    cursor: pointer;   
}
.icon1{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left:97% 
    /* float:right; */
}
.icon1:hover{
    /* background-color: rgb(163, 244, 126);; */
    transform:scaleX(1.5)
}
#left-icon {
    position: absolute;
    top:45%;
    left: 4%;
}

#right-icon {
    position: absolute;
    top:45%;
    right: 4%;
}
#hide-show{
    background-color: whitesmoke;
}

.icon:hover{
    transform:scale(1.5,1.5)
}

#footer{
    background-color: black;
    text-align: center;
    padding: 20px;
    color:aliceblue;
}
#social-media{
    position:absolute;
    left: 80%;
    margin-top:15px
}
#social-media img{
    /* float: right; */
    height:30px;
    padding-left:10px;
    width:30px;
    cursor: pointer;
    /* transition: width 1s; */
}
#social-media img:hover{
    transform:scale(1.5,1.5)
    /* width: 50px; */
    
}

