<p id="heading">We Protect You!</p> 
<div id="content">
  <img id="rescue" src="http://localhost:8080/pet_app/home_page/rescue.jpeg">
  <div id="write">
  <p>Being a hero to someone, even if it is a dog, is a feeling like no other. Though it can be frustrating, it can be the most rewarding thing to give someone a second chance at a happy life. Shall we all open our heart to be a forever home for lost pets.</p>
  <h2>What Is the Difference Between an Animal Rescue and an Animal Shelter? </h2>
  <p>    The differences between animal shelters and animal rescues can be difficult to nail down. This is because there is a great level of ambiguity and flexibility surrounding the two terms. Some places that interpret the term “animal rescue” broadly might even house animal shelters as a subset of animal rescues. If there were to be a key difference it would be that generally speaking, animal shelters tend to have facilities that house animals whereas animal rescues are typically foster-based organizations. This does not mean, however, that animal shelters do not have fosters, as many do. Many animal rescues also partner with boarding facilities to house their animals adding to the ambiguity between the two. Regardless of what they call themselves, both types of organizations have a common goal: they exist to help animals. </p>
  </div>
  <div id="write">
      <img id="rescue1" src="http://localhost:8080/pet_app/home_page/cat_tiny.jpg">
      <p>Lets protect them, feed them, provide shelter to them even it is for a day when they need it. Small effort from our side can lighten their suffering a bit.</p>
      </div>
</div>
