<h2>We Protect You <mat-icon id="title" size="">pets</mat-icon></h2>
<div id="register_form">
    <div id="heading">
        <h2>Register</h2>
    </div>
    <div class="header">
<img src="http://localhost:8080/pet_app/login_image2.jpeg">
</div>
<form id="form">
    <table>
        <tr>
            <td>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Rescuer Name</mat-label>
      <input matInput placeholder="">
      <mat-icon matSuffix>pets</mat-icon>
      <mat-hint>User Name</mat-hint>
    </mat-form-field>
  </p>
</td>
<td>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="" type="password">
          <mat-icon matSuffix>pets</mat-icon>
          <mat-hint>Password</mat-hint>
        </mat-form-field>
      </p>
    </td>
    </tr>
    <tr>
    <td>
    <p>
        <mat-form-field appearance="outline">
          <mat-label>Mail</mat-label>
          <input matInput placeholder="">
          <mat-icon matSuffix>pets</mat-icon>
          <mat-hint>Mail Id</mat-hint>
        </mat-form-field>
      </p>
    </td>
    <td>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput placeholder="" >
              <mat-icon matSuffix>pets</mat-icon>
              <mat-hint>Phone Number</mat-hint>
            </mat-form-field>
          </p>
        </td>
</tr>
<!-- <div class="example-button-row"> -->
    <tr>
        <td>
  <button mat-fab extended>
    <mat-icon>favorite</mat-icon>
    Register
  </button>
</td>
<td>
  <div>
  <a href="">Login Here</a>
</div>
</td>
</tr>
</table>
<!-- </div> -->
</form>
</div>
